.font-size-14px{font-size: 14px;}
.font-size-10px{font-size: 10px;}
.w-55{width: 45%;}
.w-90{width: 90%;}
.bg-color-000{background-color: #000;}
.font-weight-1000{font-weight: 1000;}
.font-size-12px{font-size: 12px;}
.line-height-40{line-height: 40px;}
.border-radius-O{
    border-radius:50%; 
}