*{margin: 0;padding: 0;}
.nabla{
    padding: 0;
    border-top:4px solid white;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:4px solid transparent;
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 12px;
}
.nabla + a{
    display: block;
    float: left;
}
a:hover{
    text-decoration: none;
}
.header-center-img{
    
}
.header-center-img:hover{

}
.top-nav-menu + div{
    width: 210px;
    height: 200px;
    display: none;
    position: absolute;
    top: 100%;
    left: 5%;
    background: #fffffe;
    z-index: 1001;
    border-right: 2px solid #c0adadaf;
    border-bottom: 2px solid #c0adadaf;
}
.top-nav-menu:hover + div{
    display: block;
}
.line-height-30{
    line-height: 30px;
}
@media (min-width: 992px){
    .w-lg-13{
        width: 13%;
    }
    .bg-lg-white{
        background-color: #ffffff;
    }
    .border-lg-right {
        border-right: 1px solid #dee2e6 !important;
    }
}
@media (min-width:768px) and (max-width:991px){
    .w-md-100{
        width: 100%;
    }
    .w-md-60{
        width: 60%;
    }
    .border-md-right {
        border-right: 1px solid #dee2e6 !important;
    }
    .border-md-right-0 {
        border-right: 0;
    }
    .bg-md-000{
        background-color: #000;
    }
    .container {
        max-width: 960px;
    }
}
@media (max-width:767px){
    .border-sm-right-0{
        border-right: 0;
    }

    .w-sm-100{
        width: 100%;
    }
    .w-sm-65{
        width: 65%;
    }
    .bg-sm-000{
        background-color: #000;
    }
    .container {
        max-width: 730px;
    }
}

.logo-center-a div{
    float: left;
    border-right:1px solid #333;
    padding: 8px 40px 8px 30px;
    margin-top: 15px;
}
.logo-center-a>div>a:hover{
    color: #e29216;
}
.logo-sm-btn>a{
    padding: 12px 30px; 
    border-radius: 5px;
}
.logo-sm-btn>a:hover{
    background-color:#f00;
    color:#fff;
}
.logo-right-btn>a{
    padding: 15px 38px; 
    border-radius: 5px;
}
.logo-right-btn>a:hover{
    background-color:orange;
    color:#000;
}
/* 设置顶部导航栏div中的属性 */
.top-nav-div ul{
    margin-top:2px; 
    height: 75%;
    box-sizing: border-box;
    overflow-y: auto;
    padding-right: 12px; 
    padding-left: 12px; 
}
.top-nav-div ul li{
    border-bottom: 1px solid #dee2e6;
    margin-top: 5%;
    
}
/* 顶部导航栏鼠标移入后展开的div中的文字样式 */
.top-nav-div ul li a{
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
.top-nav-div ul li a:hover{
    color: #f00;
}
.right-fixed-div{
    width: 320px;
    min-height: 800px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1020;
    background-color: #000;
}
.right-fixed-div>div{
    width: 70%;
    height: 500px;
    margin-top: 80px;
    margin-left: 30px;
}
.a-hover-org:hover{
    color:orange !important;
}
body{
    background: url(../images/topbg.jpg);
}
.section-top-ss{
    text-shadow: 0 5px 0 rgba(0,0,0,.38);
    font-size: 50px;
    color:#fff;
    font-family: Poppins;
    font-weight: 700;
}
.section-top-ss>div>span:first-child,.section-top-ss>div>span:nth-child(3),.section-top-ss>div>span:last-child{
    font-family: Great Vibes;
    font-size: 60px;
    font-weight: normal;
}
/* 响应式的小钢组成的小按钮 */
.nav-mobile-button {
    position: relative;
    float: right;
    padding: 7px 9px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #ffbe00; 
}
.nav-mobile-button .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; 
}
.nav-mobile-button .icon-bar {
    display: block;
    margin-top: 2px;
    width: 15px;
    height: 2px;
    background: #000;
    border-radius: 2px; 
}
.nav-mobile-button:hover{
    background-color: #f00; 
    border: 0;
}
.nav-mobile-button:hover .icon-bar{
    background-color: #fff;
}
.section-top-logo li div:first-child{
    width: 82px;
    height: 82px;
    position: relative;
}
.section-top-logo li {
    width: 20%;
    height: 82px;
}
.section-top-logo li img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}