*{margin: 0;padding: 0;}
.nabla{
    padding: 0;
    border-top:4px solid white;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:4px solid transparent;
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 12px;
}
.nabla + a{
    display: block;
    float: left;
}
a:hover{
    text-decoration: none;
}
.header-center-img{
    
}
.header-center-img:hover{

}
.line-height-30{
    line-height: 30px;
}
@media (min-width: 992px){
    .w-lg-13{
        width: 13%;
    }
    .bg-lg-white{
        background-color: #ffffff;
    }
    .border-lg-right {
        border-right: 1px solid #dee2e6 !important;
    }
}
@media (min-width:768px) and (max-width:991px){
    .w-md-100{
        width: 100%;
    }
    .w-md-60{
        width: 60%;
    }
    .border-md-right {
        border-right: 1px solid #dee2e6 !important;
    }
    .border-md-right-0 {
        border-right: 0;
    }
    .bg-md-000{
        background-color: #000;
    }
    .container {
        max-width: 960px;
    }
}
@media (max-width:767px){
    .border-sm-right-0{
        border-right: 0;
    }

    .w-sm-100{
        width: 100%;
    }
    .w-sm-65{
        width: 65%;
    }
    .bg-sm-000{
        background-color: #000;
    }
    .container {
        max-width: 730px;
    }
}

.logo-center-a div{
    float: left;
    border-right:1px solid #333;
    padding: 8px 40px 8px 30px;
    margin-top: 15px;
}
.logo-center-a>div>a:hover{
    color: #e29216;
}
.logo-right-btn>a{
    padding: 15px 38px; 
    border-radius: 5px;
}
.logo-right-btn>a:hover{
    background-color:orange;
    color:#000;
}